<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeraEventosNAd02.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <GeraEventosNAd02.My.MySettings>
            <setting name="BaseOrigem" serializeAs="String">
                <value>ORACLE</value>
            </setting>
            <setting name="ServidorOrigem" serializeAs="String">
                <value>PATIODEV</value>
            </setting>
            <setting name="SchemaOrigem" serializeAs="String">
                <value>OPERADOR</value>
            </setting>
            <setting name="UsuarioOrigem" serializeAs="String">
                <value>OPERADOR</value>
            </setting>
            <setting name="SenhaOrigem" serializeAs="String">
                <value>TECONDI</value>
            </setting>
            <setting name="BaseDestino" serializeAs="String">
                <value>MSSQL</value>
            </setting>
            <setting name="ServidorDestino" serializeAs="String">
                <value>186.202.128.118</value>
            </setting>
            <setting name="SchemaDestino" serializeAs="String">
                <value>bd_ad_02</value>
            </setting>
            <setting name="UsuarioDestino" serializeAs="String">
                <value>BD_AD_02</value>
            </setting>
            <setting name="SenhaDestino" serializeAs="String">
                <value>bd_ad_02@02</value>
            </setting>
            <setting name="TabelaDestino" serializeAs="String">
                <value>ECOPORTO</value>
            </setting>
            <setting name="IntervaloMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Eve_01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_03" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_04" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_05" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_06" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_07" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_08" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_09" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Eve_11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProvedorOrigem" serializeAs="String">
                <value>OraOLEDB.ORACLE</value>
            </setting>
            <setting name="ProvedorDestino" serializeAs="String">
                <value />
            </setting>
        </GeraEventosNAd02.My.MySettings>
    </userSettings>
</configuration>