<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="UrlSiscomexAutenticacao" value="https://val.portalunico.siscomex.gov.br"/>
    <add key="UrlSiscomex" value="https://val.portalunico.siscomex.gov.br/recintos-ext/api/ext"/>
    <add key="PerfilSiscomex" value="DEPOSIT"/>
  </appSettings>

  <connectionStrings>
    <add name="StringConexaoMSSQL" connectionString="Data Source=186.202.128.118;Initial Catalog=BD_AD_02;User ID=BD_AD_02;Password=bd_ad_02@02;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>